@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "custom-theme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #f3f4f6;
  --color-base-content: #1f2937;

  --color-primary: #152a65;
  --color-primary-hover: #1e40af;
  --color-primary-focus: #2563eb;
  --color-primary-content: #ffffff;

  --color-secondary: #818cf8;
  --color-secondary-hover: #6366f1;
  --color-secondary-focus: #4f46e5;
  --color-secondary-content: #ffffff;

  --color-accent: #3b82f6;
  --color-accent-hover: #2563eb;
  --color-accent-focus: #1d4ed8;
  --color-accent-content: #ffffff;

  --color-neutral: #e5e7eb;
  --color-neutral-content: #1f2937;

  --color-info: #60a5fa;
  --color-info-content: #1e3a8a;
  --color-success: #10b981;
  --color-success-content: #064e3b;
  --color-warning: #f59e0b;
  --color-warning-content: #92400e;
  --color-error: #ef4444;
  --color-error-content: #7f1d1d;
}


body {
  font-family: 'Inter', sans-serif;
  transition: all 0.3s ease;
}
